/* Star Selector (Selects every element in the HTML file) */
* {
  /* Includes the padding and border when setting a width or height for an element */
  box-sizing: border-box;
}

body {
  background: #0275ff;
  color: #eef1ef;
  font-family: 'Open Sans', sans-serif;
  /* Flexbox used to center the div vertically and horitontally */
  display: flex;
  justify-content: center;
  align-items: center;
  /* Setting the height to 100vh so the div will be centered vertically in the browser window (AKA Viewport)*/
  height: 100vh;
  /* So the div container is not up against the edge of the viewport on smaller screen sizes */
  padding: 25px;
}

h2 {
  /* Top Right/Left Bottom */
  margin: 10px 0 20px;
  text-align: center;
}

.container {
  background: #443850;
  padding: 15px;
  width: 350px;
  border-radius: 5px;
}

.result-container {
  background: #243119;
  height: 50px;
  font-size: 18px;
  letter-spacing: 1px;
  padding: 10px;
  /* Flexbox used to position the span (NOTE: Default value for justify-content is flex-start) */
  display: flex;
  align-items: center;
  /* To position the clipboard button */
  position: relative;
}

.btn {
  background: #0275ff;
  /* Removes the default button border */
  border: none;
  color: #eef1ef;
  /* Changes the cursor when hovering over a button */
  cursor: pointer;
  padding: 8px 12px;
}

.setting {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}

#clipboard {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 20px;
}

#generate {
  font-size: 16px;
  width: 100%;
}

/* Changes font size of generated password for smaller screens */
@media (max-width: 400px){
  .result-container {
    font-size: 14px;
  }
}
